body{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans Condensed', sans-serif;
    background-image: url(images/d.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 700px;  
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background: #0082e6;
    height: 100px;
    width: 100%;
}
.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 10px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding:  7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.aa,a:hover{
    background-color: #1b9bff;
    transition: .5s;
    color: red;
}
.div1{
   
    width: 540px;
    padding-left: 35px; 
    overflow: hidden;
    height: 520px;
}
.pq{
    height: 600px;
    background-color: white;
    color: black;
    padding: 12px;
    font-size: 25px;
}
.bt{
   margin-left: 170px;
   color: white;
   font-size: 35px;
   background-color: blue;
    align-items: center;
}
.bd{
    margin-left: 150px;
    font-size: 25px;
}
.div2{
    margin-right: 20px;
   float: right;
    width: 540px;
    padding-left: 35px; 
    overflow: hidden;
    height: 520px
}
.sp{
    font-size: 35px;
    color: violet;
}
#zx{
    text-align: center;
}
#po{
    padding: 15px;
    padding-left: 15px;
}
.ft{
    background-color: lightcyan;
}
